<%# <div class="d-flex justify-content-center">
<a href="/rooms/new">Add New Listing</a>
</div> %>

<div class="top-row text-center">
    <a href="/rooms/new">Add New Listing</a>
    <h1>Book a space</h1>
</div>

<div>
  <p class="subtitle">Showing rooms that match your search: <i>"<%= @search %>"</i></p>
</div>

<div class="row">
  <div class="d-flex justify-content-center">
    <div>
      <form action="/search">
        <input type="text" name="search" placeholder="Search">
        <input type="submit" value="Search">
      </form>
    </div>
  </div>
</div>

<div class="container-md">
  <ul>
  <% @rooms.each do |property| %>
    <div class="container">
    <div class="row room-row align-items-start" id="<%= property.id %>">
      <div class="col">
          <img src="/images/template_house.jpeg" alt="Template House" width=100%>
      </div>
      <div class="col">
          <p class="room-name"><%= property.name %></p>
          <p class="room-description">
            <%= property.description.length > 50 ? "#{property.description[0, 100]}..." : property.description %>
          </p>
          <p><%= sprintf('£%2.2f', property.rate) %> per night</p>
      </div>
      <div class="col-sm-1 room-redirect">
          <a href="/rooms/<%= property.id %>">
            <img class="redirect-icon" src="images/redirect-arrow.png">
          </a>
      </div>
    </div>
  </div>
  <% end %>
  </ul>
</div>